.Reorder-main{
    background-color: #eee4d0;
    position: relative;
}
.reorder-head{
    color: #3c2e27;
    margin-left: 1rem;
}
.Books-List{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #eee4d0;
}
.one-book{
    border: 1px solid #3c2e27;
    border-radius: 20px;
    margin: 1rem;
    width: 95%;
    height: 8rem;
    background-color: #eee4d0;
    display: flex;
    justify-content: space-between;
}
.Update-Qty{
    background-color: #eee4d0;
    color: #3c2e27;
    width: 20%;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    border: 1px solid #3c2e27;
    border-radius: 20px;
    height: 50%;
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}